.example-spacer {
  flex: 1 1 auto;
}

/* toolbar.component.css */
// .custom-toolbar {
//   background-color: #f0f0f0; /* Background color of the toolbar */
//   border-radius: 10px; /* Adjust the border-radius for a softer look */
//   box-shadow: 5px 5px 10px #b9b9b9, -5px -5px 10px #ffffff; /* Neumorphism shadow */
// }

.mat-icon-button {
  /* Background color of the button */
  border-radius: 50%; /* Make the button round */
  width: 40px; /* Adjust the button width as needed */
  height: 40px; /* Adjust the button height as needed */
  // box-shadow: 3px 3px 5px #b9b9b9, -3px -3px 5px #ffffff; /* Neumorphism shadow for buttons */
  // transition: box-shadow 0.3s ease-in-out; /* Add a smooth transition effect */
}

/* toolbar.component.css */
// .custom-toolbar {
//   background-color: #f0f0f0; /* Background color of the toolbar */
//   border-radius: 10px; /* Adjust the border-radius for a softer look */
//   box-shadow: 5px 5px 10px #b9b9b9, -5px -5px 10px #ffffff; /* Neumorphism shadow */
// }
.custom-toolbar{
  background-color: white;


}
.mat-toolbar{
  color: black !important;
}
.mat-icon-button {
  color: black !important;
  background-color: black; /* Background color of the button */
  border-radius: 50%; /* Make the button round */
  width: 40px; /* Adjust the button width as needed */
  height: 40px; /* Adjust the button height as needed */
  // box-shadow: 3px 3px 5px #b9b9b9, -3px -3px 5px #ffffff; /* Neumorphism shadow for buttons */
  transition: box-shadow 0.3s ease-in-out; /* Add a smooth transition effect */
}

// .mat-icon-button:hover {
//   // box-shadow: 6px 6px 10px #b9b9b9, -6px -6px 10px #ffffff;
//   box-shadow: 0px 0px 20px rgba(0, 0, 255, 0.5);/* Adjust the shadow on hover */
// }

/* Style the button with the "neumorphic-button" class */
.neumorphic-button {
  color: black;
 /* Background color of the button */
  border-radius: 10px; /* Adjust the border-radius for a softer look */
  // box-shadow: 5px 5px 10px #b9b9b9, -5px -5px 10px #ffffff; /* Neumorphism shadow for the specific button */
  // transition: box-shadow 0.3s ease-in-out; /* Add a smooth transition effect */
  transition: transform 0.3s ease-in-out;

  &:hover {
    // Scale the button slightly on hover
    transform: scale(1.05);
  }}

// .neumorphic-button:hover {
//   // box-shadow: 6px 6px 10px #b9b9b9, -6px -6px 10px #ffffff;
//   box-shadow: 0px 0px 20px rgba(0, 0, 255, 0.5); /* Adjust the shadow on hover for the specific button */
//   // transform: translateY(-2px); /* Add a subtle lift effect on hover */
// }

/* Adjust the button text color if needed */
.neumorphic-button {
  color: black !important; /* Text color */
}



/* Add some spacing between the buttons */
.custom-toolbar button:not(:last-child) {
  margin-right: 10px;
}


.notification-icon {
  color: black !important;
  transition: transform 0.2s ease; /* Add smooth transition effect */

  &:hover {
    transform: scale(1.2); /* Scale the icon on hover */
  }
}

body {

  color: white !important;
}

.mat-mdc-icon-button{
  color: black !important;
}
