<div class="sidebar shadow-sm" [ngClass]="{ 'showSidebar': isSidebarVisible, 'hideSidebar': !isSidebarVisible }" [@fadeInOut]>

  <span class="text-primary d-flex my-4 justify-content-center">
    <img src="../../../assets/logo.png" width="100" height="80" alt="">
  </span>
    <ul>
      <li>
        <a routerLink="/home" routerLinkActive="active">
          <span class="menu-icon material-icons">dashboard</span>
          <span class="menu-text">Home</span>
        </a>
      </li>
      <li>
        <a routerLink="//dashboard" routerLinkActive="active">
          <span class="menu-icon material-icons">grade</span>
          <span class="menu-text">Exercicios</span>
        </a>
      </li>
    </ul>
  </div>

