.profile-card {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.profile-header {
  text-align: center;
}

.profile-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.profile-content {
  display: flex;
  align-items: center;
}

.profile-image {
  flex: 1;
  text-align: center;

  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.profile-details {
  flex: 3;
  padding-left: 20px;

  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    margin: 5px 0;
  }
}

.mat-card-actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.custom-card {
  border: 1px solid #ccc; /* Add a border */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a slight shadow */
  /* You can adjust the border color, width, and shadow properties as needed */
}
