
<div class="container">
    <section class="row">
      <div class="col-md-6 col-lg-4">
        <article class="p-4 rounded shadow-sm border-left mb-4">
          <div class="row">
              <div class="col">
                <span href="#" class="d-flex align-items-center">
                  <span class="bi bi-person h5"></span>
                  <h5 class="ml-2">LF-ONE</h5>
                </span>
              </div>
              <div class="col">
                  <h4 class="text-right ml-2"><strong>28</strong></h4>
              </div>
          </div>
        </article>
      </div>

       <div class="col-md-6 col-lg-4">
        <article class="p-4 rounded shadow-sm border-left mb-4">
          <div class="row">
              <div class="col">
                <span href="#" class="d-flex align-items-center">
                  <span class="bi bi-person h5"></span>
                  <h5 class="ml-2">LF-MID</h5>
                </span>
              </div>
              <div class="col">
                  <h4 class="text-right ml-2"><strong>40</strong></h4>
              </div>
          </div>
        </article>
      </div>

      <div class="col-md-6 col-lg-4">
        <article class="p-4 rounded shadow-sm border-left mb-4 lf-pro">
          <div class="row">
              <div class="col">
                <span href="#" class="d-flex align-items-center">
                  <span class="bi bi-person h5"></span>
                  <h5 class="ml-2">LF-PRO</h5>
                </span>
              </div>
              <div class="col">
                  <h4  class="text-right"><strong>28</strong></h4>
              </div>
          </div>
        </article>
      </div>
  </section>
</div>

  <div class="container-fluid">
    <h2>Alunos</h2>
  </div>

  <div class="container-fluid mt-5">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Firts name</th>
          <th scope="col">Last name</th>
          <th scope="col">Email</th>
          <th scope="col">Plan</th>
          <th scope="col">Active-plan</th>
          <th scope="col">Date-init</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>33</td>
      
        </tr>
      </tbody>
    </table>
  </div>
  <div classs="container">
    lista
  </div>

