article{
  color:white;
}

article h5{
  font-weight: 600;
}
article{
  background: rgb(0,0,205);
  background: linear-gradient(90deg, rgba(0,0,205,0.7959558823529411) 39%, rgba(0,0,1,0.8603816526610644) 92%);
}


