<div class="container">
    <section class="row">
      <div class="col-md-6 col-lg-4">
        <article class="p-4 rounded shadow-sm border-left mb-4">
          <div class="row">
              <div class="col">
                <span href="#" class="d-flex align-items-center">
                  <span class="bi bi-person h5"></span>
                  <h5 class="ml-2">LF-ONE</h5>
                </span>
              </div>
              <div class="col">
                  <h4 class="text-right ml-2"><strong>28</strong></h4>
              </div>
          </div>
        </article>
      </div>

       <div class="col-md-6 col-lg-4">
        <article class="p-4 rounded shadow-sm border-left mb-4">
          <div class="row">
              <div class="col">
                <span href="#" class="d-flex align-items-center">
                  <span class="bi bi-person h5"></span>
                  <h5 class="ml-2">LF-MID</h5>
                </span>
              </div>
              <div class="col">
                  <h4 class="text-right ml-2"><strong>40</strong></h4>
              </div>
          </div>
        </article>
      </div>

      <div class="col-md-6 col-lg-4">
        <article class="p-4 rounded shadow-sm border-left mb-4 lf-pro">
          <div class="row">
              <div class="col">
                <span href="#" class="d-flex align-items-center">
                  <span class="bi bi-person h5"></span>
                  <h5 class="ml-2">LF-PRO</h5>
                </span>
              </div>
              <div class="col">
                  <h4  class="text-right"><strong>28</strong></h4>
              </div>
          </div>
        </article>
      </div>
  </section>

  <div class="container-fluid">
    Tabela alunos
  </div>
