/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.sidebar{
  top: 0;
  left : 0;
  z-index : 100;
  overflow-y: auto;
}
.list-group-item.active {
  background-color: #0000cd;
}

.overlay{
  background-color: rgb(0 0 0 / 45%);
  z-index: 99;
}
